<div class="container">
    <h1 mat-dialog-title>Change Password</h1>
        <form novalidate (submit)="submitChangePassword($event)">
            <app-loading-spinner *ngIf="loading">Loading...</app-loading-spinner>
            <div mat-dialog-content class="">
                <mat-form-field appearance="fill" class="width-100">
                    <mat-label>Old password</mat-label>
                    <input [(ngModel)]="passwords.oldpassword" [ngModelOptions]="{standalone: true}" matInput [type]="hideold ? 'password' : 'text'" (change)="oldpasswordChange($event)">
                    <button mat-icon-button matSuffix (click)="hideold = !hideold" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideold">
                    <mat-icon>{{hideold ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <span class="error" *ngIf="oldisSpecialvalid" >Password must contain at least 1 special characters.</span><br>
                    <span class="error" *ngIf="oldpassminimumIsValid" > Password Must have minimum of 6 Characters and maximum of 12 characters!</span>
                </mat-form-field>
                <mat-form-field appearance="fill" class="width-100">
                    <mat-label>New password</mat-label>
                    <input [(ngModel)]="passwords.newpassword" [ngModelOptions]="{standalone: true}" matInput [type]="hidenew ? 'password' : 'text'" (change)="newpasswordChange($event)" >
                    <button mat-icon-button matSuffix (click)="hidenew = !hidenew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidenew">
                    <mat-icon>{{hidenew ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <span class="error" *ngIf="newisSpecialvalid" >Password must contain at least 1 special characters.</span><br>
                    <span class="error" *ngIf="newpassminimumIsValid" > Password Must have minimum of 6 Characters and maximum of 12 characters!</span>
                </mat-form-field>
                <mat-form-field appearance="fill" class="width-100">
                    <mat-label>Confirm password</mat-label>
                    <input [(ngModel)]="passwords.confirmpassword" [ngModelOptions]="{standalone: true}" matInput [type]="hideconfirm ? 'password' : 'text'" (change)="confirmpasswordChange($event)">
                    <button mat-icon-button matSuffix (click)="hideconfirm = !hideconfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideconfirm">
                    <mat-icon>{{hideconfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <span class="error" *ngIf="confirmPasswordMatchIsValid" >Password not match.</span><br>
                    <span class="error" *ngIf="confirmisSpecialvalid" >Password must contain at least 1 special characters.</span><br>
                    <span class="error" *ngIf="confirmpassminimumIsValid" > Password Must have minimum of 6 Characters and maximum of 12 characters!</span>
                </mat-form-field>
                <div mat-dialog-actions class="dialogAction">  
                    <button mat-stroked-button mat-dialog-close color="primary">Close</button>
                    <button mat-flat-button color="primary" class="btn-change-password">Submit</button>
                </div>
            </div>
        </form>

</div>