#chart {
    // max-width: 380px;
    margin: 35px auto;
    padding: 0;
}

mat-card{
    width: 80%;
    height: 100px;
}

mat-card-title {
    font-weight: bold;
    font-size: large;
}

.users {
    border-top: 10px solid greenyellow;
}

.p-users {
    border-top: 10px solid lightseagreen;
}

.r-contract {
    border-top: 10px solid gold;
}

mat-card-content {
    text-align: right;
    font-size: 40px;
}

.status-job-order {
    height: 500px;
    width: 100%;
}